.card-custom {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

/* Estilo para hacer los botones más minimalistas con íconos */
.btn {
    color: white;
    background-color: #012A15;
    text-decoration: none;
    border: 2px solid transparent; /* Contorno inicial transparente */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
  }
  
  .btn:hover {
    background-color: #013A1E; /* Color verde más claro en hover */
    color: white;
    border-color: #013A1E; /* Contorno verde en hover */
  }
  
  .btn.active {
    background-color: #013A1E; /* Color verde más claro cuando está activo */
    color: white;
    border-color: #013A1E; /* Contorno verde cuando está activo */
  }
  