<div class="container">
    <h1 style="color: white;">Nuestro Equipo</h1><br><br>
    <div class="team-grid">
        <div class="team-member">
            <img src="../../../../assets/media/imagenes/JoseMauricio1.jpg" alt="Foto de Mauricio García">
            <h2>José Mauricio García Barrios</h2>
            <p style="text-align: justify;">
                Mauricio García nació en Quetzaltenango, Guatemala, el 28 de enero de 2003. 
                Se graduó del Colegio Nuevo Mundo con honores y siendo el segundo mejor promedio de 
                su promoción. Actualmente estudia en la Universidad Mesoamericana de 
                Quetzaltenango. Trabajó en una empresa de desarrollo de software llamada COE 
                Developers, desde febrero de 2023 hasta marzo de 2024. Ahora trabaja en la 
                empresa Teleguías S.A. de Guatemala, desempeñando el rol de programador junior. 
                Entre sus campos de interés están la programación y las redes informáticas.
            </p>            
            <p>Teléfono: +502 46131012</p>
            <p>Email: josebarrios001&#64;gmail.com</p>
        </div>
        <div class="team-member">
            <img src="../../../../assets/media/imagenes/AjpopFoto.jpg" alt="Foto de Ajpop Chuc">
            <h2>Ajpop Manuel Andrés Morales Chuc</h2>
            <p style="text-align: justify;">
                Ajpop Chuc, nacido en 2004 en San Andrés Semetabaj, Sololá, actualmente reside en 
                San Andrés Xeúl, Totonicapán. Es un destacado graduado del Colegio Preuniversitario 
                Friedrich von Hayek, donde formó parte de los primeros promedios de su promoción. 
                Actualmente, cursa la carrera de Ingeniería en Sistemas y Ciencias de la Computación en 
                la Universidad Mesoamericana.  
            </p>
            <p style="text-align: justify;">
                A lo largo de su trayectoria, ha trabajado en diversos proyectos como freelancer, adquiriendo 
                experiencia en el desarrollo de soluciones tecnológicas. Su compromiso y pasión por la innovación 
                lo han llevado a destacarse tanto en el ámbito académico como profesional.
            </p>
            <p>Teléfono: +502 55565772</p>
            <p>Email: ajpopchuc2004&#64;gmail.com</p>
        </div>
        <div class="team-member">
            <img src="../../../../assets/media/imagenes/Francisco.png" alt="Foto de Laura Martínez">
            <h2>Francisco Pérez</h2>
            <p  style="text-align: justify;">
                Francisco Pérez es graduado del Instituto Tecnológico Privado del Occidente, nacido en Concepción Chiquirichapa, Quetzaltenango, y actualmente vive en Concepción Chiquirichapa, Quetzaltenango. Estudiante destacado, graduado del Instituto Tecnológico Privado del Occidente, donde destacó como buen estudiante y uno de los mejores promedios. Reconocido por su capacidad para trabajar en equipo, Francisco destaca por su enfoque colaborativo y su habilidad para aportar soluciones innovadoras en entornos multidisciplinarios. Su deseo constante de aprender lo convierten en un profesional con una visión integral y una sólida base técnica, preparado para enfrentar los retos que presenta el dinámico mundo de la tecnología.
            </p>
            <p>Teléfono: +502 51915806</p>
            <p>Email: mau910462&#64;gmail.com</p>
        </div>
        <div class="team-member">
            <img src="../../../../assets/media/imagenes/MarioG.jpg" alt="Foto de Mario Galvez">
            <h2>Mario Bladimir Galvez Velasquez</h2>
            <p style="text-align: justify;">
                Mario Galvez estudiante de Ingeniería en Sistemas en
                Universidad
                Mesoamericana, originario de Salcajá, Quetzaltenango. Desde temprana edad, mostró interés por la tecnología,
                 lo que lo llevó a especializarse en diversas
                 áreas relacionadas con la informática. Su formación académica y experiencia práctica incluyen
                 mantenimiento avanzado de computadoras de escritorio y laptops, desarrollo de software, y gestión de
                 redes computacionales, con un enfoque particular en la implementación de cableado estructurado y solu
                ciones de conectividad. Se caracteriza por su dedicación y compromiso con
                 el aprendizaje continuo, buscando siempre mantenerse actualizado en las últimas tendencias y avances
                 tecnológicos.
            </p>
            <p>Teléfono: +502 52464467</p>
            <p>Email: bladirmir11&#64;gmail.com</p>
        </div>
    </div>
</div>